.item {
  list-style: none;
  font-size: medium;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Запобігає перенесенню на новий рядок */
  list-style-type: none;
  padding: 0px;
}
.imeg {
  margin: 5px;
  transition: box-shadow 0.3s ease;
}
.imeg:hover {
  box-shadow: 0 0 25px rgba(42, 40, 40, 0.533);
}

button {
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 80px;

  border-radius: 20px;
}
#value {
  font-size: 4 2px;
  color: brown;
}

button:hover {
  background-color: rgb(115, 232, 86);
}

button[data-action] {
  color: rgb(72, 32, 158);
  font-size: 32px;
}

button[data-action]:hover {
  font-size: 32px; /* Змінюємо розмір шрифту при наведенні */
  color: rgb(154, 2, 242); /* Змінюємо колір тексту при наведенні */
}
/*--------------------------------------------------*/
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
